body {
  background-blend-mode: screen;
}
h1 {
  text-align: center;
  font-size: 26px;
  margin-top: 2em;
}
.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1200px;
  margin: 0 auto;
}
.key {
  height: 90px;
  width: 120px;
  margin: 1em 1.5em;
  text-align: center;
  border: 3px solid black;
  border-radius: 4px;
  font-size: 20px;
  padding: 8px 8px;
  font-weight: 700;
  font-family: Courier, Georgia;
}
.playing {
  transform: scale(1.2);
  border-color: #aee485;
  transition: all 0.05s;
}
.key:hover {
  border: 3px dashed blue;
  color: blue;
  cursor: no-drop;
}
